/*
************************************
Title: Portfolio CSS
Use: Styles all navigation menus
Author: Tina Fox
School/Term: University of Missouri, Spring 2020
Developed: April 13, 2020
Tested: April 17, 2020; Passed on Chrome and Firefox browers.
************************************
*/
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
nav>ul li {
    width: 150px;
    position: relative;
    text-align: center;
    display: inline-block;
    border: 1px solid #f1c4b7;
    background-color: #fdd5ca;
    padding: 12px 12px 12px 20px;
    margin-top: 0;
    margin-bottom: 4px;
}
nav ul>li ul {
    position: absolute;
    margin-top: 17px;
    display: none;
    right: 0%;
    left: 0%;
}
nav>ul>li:hover>ul {
    display: block;
}
