/*
************************************
Title: Portfolio CSS
Use: Styles all navigation menus
Author: Tina Fox
School/Term: University of Missouri, Spring 2020
Developed: April 13, 2020
Tested: April 24, 2020; Passed on Chrome and Firefox browers.
************************************
*/

nav ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}
.active {
    font-weight: bold;
}
nav>ul li {
    width: 150px;
    position: relative;
    text-align: center;
    display: inline-block;
    
    border-bottom: 2px solid #e2e0e0;
    background-color: #eeeeee;
    padding: 12px 12px 12px 20px;
    margin-top: 0;
    
}
nav ul>li ul {
    position: absolute;
    margin-top: 14px;
    display: none;
    right: 0%;
    left: 0%;
}
nav>ul>li:hover>ul {
    display: block;
}
@media only screen and (max-width: 779px) {
    nav>ul>li:hover>ul {
    display: none;
}
    nav>ul li {
    width: 100%;
}
    label {
        display: block;
        cursor: pointer;
        cursor: pointer;
    }
   
    .menu {
        text-align: center;
        width:90%;
        display: none;
    }
    .menu a {
        display: block;
        margin: 0;
    }
    #toggle:checked + .menu {
        display: block;
    }
    nav ul>li ul {
        display: none;
    }
}