/*
************************************
Title: Portfolio CSS
Use: Styles all webpages in the islt_7310 project folder
Author: Tina Fox
School/Term: University of Missouri, Spring 2020
Developed: April 2, 2020
Tested: May 5, 2020; Passed on Chrome and Firefox browers.
************************************
*/
header {
    padding: 2px;
}
h1 {
    color: #333333;
    font-family: 'Biryani', sans-serif;
    font-size: 300%;
    text-transform: uppercase;
    letter-spacing: 10px;
    padding-bottom: 0px;
}
h2 {
    font-size: 200%;
    color: #333333;
    margin-top: 1em;
    font-family: sans-serif;
    font-weight: 300;
}
h2.main {
    font-size: 350%;
    text-align: center;
    font-weight: 100;
}

h2+p {
    font-size: 120%;
    color: #474544;
}
h3 {
    color: #d95a4e;
    font-size: 125%;
    font-family: 'Biryani', sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    border-bottom: 2px dashed #d95a4e;
    padding-bottom: 5px;
}
h4 {
    color: #36bfb1;
    font-size:  120%;
    font-family: 'Biryani', sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-align: center;
}
h5 {
    color: #474544;
    font-family: 'Biryani', sans-serif;
    font-size: 110%;
    text-align: center;
    margin-top: 0;
}
h6 {
    color: #d95a4e;
    font-family: 'Biryani', sans-serif;
    font-size: 110%;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-align: center;
}
body {
    margin: auto;
    width: 80%;
    max-width: 1200px;
}
main {
    max-width: 1100px;
    margin: auto;
}
main p {
    font-family: Arial, Helvetica, sans-serif;
    color: #333333;
}
/*
main .dropcap {
    text-indent: 0;
}

main .hello {
    text-indent: 0;
}

main p:last-child::first-line {
    text-indent: 25px;
}

main p::first-letter {
    font-size: 300%;
    font-weight: bold;
}
main p:last-child::first-letter {
    font-size: 100%;
    font-weight: normal;
}
main #intro p::first-letter {
    font-size: 300%;
    font-weight: bold;
}
main #goals p::first-letter {
    font-size: 100%;
    font-weight: normal;
}
main #courses p::first-letter {
    font-size: 100%;
    font-weight: normal;
}
*/
a:link {
    color: #0487cb;
}
a:hover, a:focus {
    color: #05a8fd;
}

a:visited {
    color: #8d10a3;
}
a:active {
    color: #c22b2b;
}
a {
    text-decoration: none;
    font-size: 10pt;
}

li {
    font-family: Arial, Helvetica, sans-serif;
     color: #474544;
}
/*
li:first-child {
    color: #2c9197;
}
li:last-child {
    color: #a34dc3;
}
*/
header img {
    display: inline-block;
    margin: 0;
    padding: 0;
}
img {
    margin: 4em 1em 2em 0em;
    padding: 0 0.5em 1em 0em;
    display: block;
    margin-left: auto;
    margin-right: auto; 
   
}
footer {
    font: 80% Arial, Helvetica, sans-serif;
    border-top: 2px solid #333333;
    margin: 2em 0em;
    padding: 20px;
    text-align: center;
}
footer img {
    display: inline-block;
    padding: 2px 0 0 0;
    margin: 1px 4px 0 4px;
    transition: 1s ease-in-out;
}
footer img:hover {
    transform:  scale(1.5);
}
#image {
    width: 30%;
    float: left;
}
#intro {
    padding-top: 4em;
    width: 60%;
    float: right;
    margin-bottom: 2em;
}
#intro p {
    line-height: 1.5;
}
#goals {
    clear: both;
    padding-top: 1em; 
    padding-bottom: 2em;
}
#goals article {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0px 0px 4px 1px #dfdddd;
}
#goals article p{
    text-align: center;
    padding: 10px;
}
#goals a {
    font-family: sans-serif;
    font-size: 130%;
    text-align: center;
    background-color: #d95a4e;
    padding: 15px;
    color: #fff;
    width: 175px;
    margin: auto;
    display: block;
    border-radius: 10px;
}
#goals p {
    line-height: 1.4;
   
}
#reflection {
     line-height: 1.5;
    
}
/* Projects Page */
#section1 {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0px 0px 4px 1px #dfdddd;
    padding: 1em 4em 2em 4em; 
    margin-top: 3em;
    margin-bottom: 3em;    
}
#section1 h2, h3 {
    text-align: center;
}
#section1 h4 {
    font-weight: 400;
    margin-bottom: 0;
    margin-top: 2em;
}
#section1 img {
    margin-top: 1em;
    max-width: 100%;
}
.goal-detail {
    line-height: 1.5;
}
#section2 {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0px 0px 4px 1px #dfdddd;
    padding: 1em 4em 2em 4em; 
    margin-top: 3em;
    margin-bottom: 3em;    
}
#section2 h2, h3 {
    text-align: center;
}
#section2 h4 {
    font-weight: 400;
    margin-bottom: 0;
    margin-top: 2em;
}
#section2 img {
    margin-top: 1em;
    max-width: 100%;
}
#section3 {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0px 0px 4px 1px #dfdddd;
    padding: 1em 4em 2em 4em; 
    margin-top: 3em;
    margin-bottom: 3em;    
}
#section3 h2, h3 {
    text-align: center;
}
#section3 h4 {
    font-weight: 400;
    margin-bottom: 0;
    margin-top: 2em;
}
.directions {
    font-size: 90%;
    text-align: center;
    margin-top: 2em;
}
.goal {
    background-color: #d95a4e;
    padding: 15px;
    color: #fff;
    text-align: center;
    border-radius: 5px;
    margin: 2em 0em 2em 0em;
}
.goal-overview {
    font-size: 140%;
    text-align: center;
    color: #333333;
    margin-top: 1em;
    font-family: sans-serif;
    font-weight: 300;
    margin: 2em 0em 2em 0em;
}

#iframe-holder {
    position: relative;
    width: 100%;
    padding-bottom: 56.25%;
    height: 0;
    margin-top: 3em;
    margin-bottom: 3em;
}
#iframe-holder iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/*
#overview {
    background-color: #fabdac;
    padding: 20px;
}
*/
aside {
    padding: 50px;
    width: 30%;
    float: right;
}

blockquote {
    color: #474544;
    font-size: 150%;
    text-align: center;
}
#author {
    font-size: 90%;
}
article {
    background-color: #eeeeee;
    padding: 20px;
    margin: 20px 20px 20px 0px;
}
.reflect {
    background-color: #fff;
   
}

/* Implementing Flexbox code */
.row {
    display: flex;
    flex-wrap: wrap;
    
}
.row_cell {
    flex: 1;
}
/*
#courses {
    display: flex;
    flex-wrap: wrap;
}
#courses article {
    flex: 1;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0px 0px 4px 1px #dfdddd;
}
*/
/* End Flexbox code */
.resume p {
    text-align: center;
    margin-top: 5em;
    width: 100%;
    margin-bottom: 5em;
}

#form {
    border: 1px solid #e5e4e4;
    border-radius: 5px;
    box-shadow: 1px 1px 7px 3px #eeeeee;
    padding: 30px;
}
.contact-info {
    display: flex; /* Flexbox code */
    flex-wrap: wrap; /* Flexbox code */
    justify-content: space-evenly;
}
.contact-info article {
    font-family: sans-serif;
    font-size: 80%;
    text-align: center;
    padding: 20px;
    color: #9a9a9a;
    width: 175px;
    display: block;
    border: 1px solid #e5e4e4;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0px 0px 6px 2px #eeeeee;
}
article#message {
    min-height: 300px;
    min-width: 60%;
}
article#click {
    font-family: sans-serif;
    font-size: 100%;
    text-align: center;
    padding: 20px;
    color: #fff;
    width: 175px;
    display: block;
    border: 1px solid #e5e4e4;
    border-radius: 10px;
    background-color: #333333;
    box-shadow: 0px 0px 6px 2px #eeeeee;
}
label {
    margin: 0 40px 0 0;
    font-size: 50px;
    color: #474544;
    line-height: 30px;
    display: none;
}
#toggle {
    display: none;
}
@media only screen and (max-width: 779px) {
   
    #intro {
        width: 100%;
    }
    #image {
        width: 100%;
    }
    img { 
        padding-top: 2em;
    }
    
}
#iframe-container {
    position: relative;
    width: 100%;
    padding-bottom: 56.25%;
    height: 0;
}
#iframe-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
iframe {
    border: none;
}
/* Table formatting */
table {
    border-top: 1px solid #d95a4e;
    border: 1px solid #dad8d8;
    border-collapse: collapse;
    font-family: Arial, Helvetica, sans-serif;
    color: #333333;
    font-size: 95%;
    margin-bottom: 5em;

}

th {
    background-color: #d95a4e;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 120%;
    padding: 10px 20px;
    font-weight: bold;
    text-align: left;
}
td {
    padding: 20px;
    text-align: center;
}
td:nth-child(2) {
    text-align: left;
}

tbody tr:nth-child(even) {
    background-color: #edebeb;
}
figure {
    width: 1000px;
}
figcaption {
    color: #36bfb1;
    font-size:  130%;
    font-family: 'Biryani', sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-align: center;
    margin-bottom: 2em;
    display: block;
}
#subtitle {
    color: #474544;
    font-family: 'Biryani', sans-serif;
    font-size: 80%;
    text-align: center;
}
tfoot th {
    padding: 20px;
    font-family: 'Biryani', sans-serif;
    font-size: 95%;
    text-align: center;
}
/*Form Styling */

textarea {
    height: 20em;
    width: 50em;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    padding: 20px;
    border: 1px solid #e5e4e4;
    border-radius: 10px;
    box-shadow: 0px 0px 6px 2px #eeeeee;
    margin: 0.5em auto;
    margin-top: 1em;
}
form {
    width: 800px;
    margin: auto;
}
.label {
    float: left;
    width: 5em;
    text-align: right;
    display: inline-block;
    font-family: Arial, Helvetica, sans-serif;
    color: #606060;
    font-weight: 400;
    font-size: 95%;
     margin-right: 10px;
}

input {
    margin-bottom: 2em;
    width: 15em;
    height: 2em;
    border: 1px solid #e5e4e4;
    border-radius: 2px;
    box-shadow: 0px 0px 6px 2px #eeeeee;
    padding-left: 8px;
}
/*
input:required, input[required] {
    border: 3px solid #d95a4e;
}
*/
input:valid {
    border: 1px solid black;
}

#submit {
    margin-top: 2em;
    height: 3em;
    background-color: #d95a4e;
    color: #fff;
    font-size: 100%;
    margin-right: 10px;
}
#submit:hover {
    background-color: #36bfb1;
}
#reset {
    margin-top: 2em;
    height: 3em;
    background-color: #333333;
    color: #fff;
    font-size: 100%;
}
#reset:hover {
    background-color: #36bfb1;
}
/*
.submit-button {
    margin:auto;
    width: 300px;
}*/
#message {
    font-size: 90%;
}

/* Print styles */
@media print {
    h1 {
        color: #000;
    }
    h2 {
         font-family: serif;
        color: #000;
    }
    h3 {
        font-family: serif;
        color: #000;
        border-bottom: none;
    }
    blockquote {
        font-family: serif;
        color: #000;
    }
    nav {
        display: none;
    }
    body {
        width: auto;
        margin: .25in; 
    }
    body p {
        font-family: serif;
        font-size: 10pt;
        color: #000;
    }
    footer {
        clear: both;
        border-top: 1px solid #000;
        font-family: sans-serif;
        color: #000;
    }
    footer img {
        display: none;
    }
    #goals {
        display: none;
    }
    ul li {
        font-family: serif;
    }
}


/* Responsive Table Styling */
@media only screen and (max-width: 779px) {
    
    h2.main {
        text-align: left;
    }
    figcaption {
       text-align: left;
    }
    table {
        display: block;
        width: 50%;
    }
    th, td{
        display: block;
        text-align: left;
        padding: 8px;
       
    }
    thead, tfoot {
        display: none;
    }
    td {
        font-size: 90%;
    }
    tr td:first-child {
        font-weight: bold;
        font-size: 90%;
        padding-top: 20px;
    }
  
    td:nth-child(2) {
       font-size: 110%;
    }
    tr td:last-child {
       padding-bottom: 20px;
    }
    textarea {
        height: 30em;
        width: 40em;
     }
    form {
        width: 600px;
        margin: auto;
    }
    

 
}
@media only screen and (max-width: 414px) {    
    table {
       width: 30%;
    }
      textarea {
        height: 30em;
        width: 18em;
     }
    #submit {
        display: block;
        width: 50%;
    }
    #reset {
        display: block;
        width: 50%;
    } 
    .label {
        float: left;
        width: 5em;
        text-align: right;
        display: inline-block;
        font-family: Arial, Helvetica, sans-serif;
        color: #606060;
        font-weight: 400;
        font-size: 95%;
         margin-right: 10px;
}
}